.transactionHistory {
  margin: 0 auto;
  margin-bottom: 25px;
  box-shadow: 5px 5px 12px 0px rgba(102, 99, 99, 0.75);
  -webkit-box-shadow: 5px 5px 12px 0px rgba(102, 99, 99, 0.75);
  -moz-box-shadow: 5px 5px 12px 0px rgba(102, 99, 99, 0.75);
}
.tableHeadRow {
  color: aliceblue;
}
tr:nth-child(even) {
  background-color: #c7c4c4;
}
.tableHeadRow > th {
  width: 200px;
  height: 50px;
  background-color: lightseagreen;
}
.tableBodyRow > td {
  width: 200px;
  height: 50px;
  text-align: center;
}
